@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-certificate {
  animation: slideInFromLeft 1.5s ease-in-out forwards;
}


.cert-container {
 
  margin: auto;
  width:80%;
  /* height:400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; */

}
.cert-heading {
  text-align: center;
}
.cert-btns {
  text-align: end;
}
.cert-title {
  color: white;
  font-size:1.7rem;
  font-weight: 700;
  margin:15px 0;
}
.cert-number {
  color: white;
  font-size: 0.9rem;
  margin: 15px 0;
}
.cert-platform {
  color:white;
  margin:15px 0 ;
  font-size: 1.5rem;
}
.btn-cert{
  bottom:0;
}
.cert-card {
  background: #1a1919;
 padding: 3rem 2rem;
 margin:1rem 2rem;
  height:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  
  flex-direction: column;
  padding: 2rem 2rem;
}

@media screen and (max-width: 900px) {
  .cert-container {
    max-width: 90%;
    margin: auto;
    height:80%;
  }

}
