

.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    text-align: left;
    background-color:#1a1919;
    color: white;
    border-color: #1a1919;
}

.card-text{
    font-size: 1rem;
}

