
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
h1,
h4,
p,
a{
  color: white;
  text-decoration: none;
}
body{
  background:black ;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  margin: 5px 0 ;
  text-transform: uppercase;
  background: transparent;
  color : white;
  border-radius: 5px;
  border: 1px solid white ;
  font-weight: 600 ;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: #e60073;
  color: white ;
  transition: 0.3s;
}